@import "./lib/fonts", "./lib/colors";

body {
  margin: 0;
  font-family: AvenirNextLTPro, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  //width: 100%;
  background-color: #fdfaf8;
  margin-top: 56px;

  #root {
    width: 100%;
  }
}
